<header class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container padding-200">
    <h1>Chefs Profiles</h1>
     <p>Find and book chefs to cook at your home!<p>
  </div>
</header>

<main class="container mt-5">
  <ul class="preview">
    <% @chef_profiles.each do |chef_profile| %>
      <% user = User.find(chef_profile.user_id) %>
      <li class="card-preview">
        <img src="<%= asset_path('banner.jpg')%>" />
        <%= link_to chef_profile_path(chef_profile) do %>
          <%= user.first_name %> <%= user.last_name%>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p class="btn btn-primary">
    <%= link_to 'add new profile', new_chef_profile_path %>
  </p>
</main>
