<header class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container padding-200">
    <h1>Chefs Profiles</h1>
     <p>Find and book chefs to cook at your home!<p>
  </div>
</header>

<main class="container mt-5">
  <ul class="chef-profiles">
  <% @chef_profiles.each do |chef_profile| %>
      <% user = User.find(chef_profile.user_id) %>
      <% if chef_profile.photo.attached? %>
        <div class="card card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path chef_profile.photo.key, height: 300, crop: :fill %>')">
      <% else %>
        <div class="card card-index">
      <% end %>
        <div class="n-ppost-name text-center">
          <div>
            <p class="txt"><strong>Name: </strong><%= user.first_name %></p>
              <p class="txt"><strong>Cuisines: </strong>
              <% chef_profile.cuisines.each do |f|%>
                <%= "| #{f} |" %>
              <% end %>
              </p>
            <p class="txt"><strong>Location: </strong><%= chef_profile.location %> </p>
          </div>
        </div>
          <%= link_to "See more", chef_profile_path(chef_profile), class:"btn btn-submit" %>
      </div>
    <% end %>
  </ul>
  <p class="btn btn-submit-info">
    <%= link_to 'add new profile', new_chef_profile_path %>
  </p>
</main>
