<% user = User.find(@chef_profile.user_id) %>
<main>
  <header>
    <h1><%= user.first_name %> <%= user.last_name %></h1>
  </header>
  <dl>
    <dt>Cuisine</dt>
    <dd><%= @chef_profile.cuisine %></dd>
    <dt>Location</dt>
    <dd><%= @chef_profile.location %></dd>
  </dl>
  <p class="btn btn-secondary btn-sm"><%= link_to 'back to chef profiles',  chef_profiles_path %></p>
  <% if policy(@chef_profile).destroy? %>
    <p class="btn btn-danger btn-sm"><%= link_to 'delete chef profile',  chef_profile_path, method: :delete %></p>
  <% end %>
</main>
