<% user = User.find(@chef_profile.user_id) %>
<div class="chef-prof-detail">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 chef-pic">
        <img src="<%= cl_image_path @chef_profile.photo.key, width: 450, height: 600, crop: :fill %>" alt="picture of chef">
      </div>
      <div class="col-sm-12 col-md-6 chef-info">
        <h1><%= user.first_name %> <%= user.last_name %></h1>
        <div class="chef-description">
          Hey, I'm an experienced cook based in Manchester with a big passion for food
        </div>
        <dl>
          <dt>Cuisines</dt>
            <dd>
              <% @chef_profile.cuisines.each do |cuisine| %>
                <span class="badge badge-pill badge-success"><%= cuisine %></span>
              <% end %>
            </dd>
          <dt>Location</dt>
            <dd class="badge badge-pill badge-success"><%= @chef_profile.location %></dd>
        </dl>
      </div>
      <div class="col-sm-12 col-md-3 chef-buttons">
        <%= link_to 'book this chef', new_chef_profile_booking_path(@chef_profile), class: 'btn btn-submit-secondary' %>
        <%= link_to 'back to all chefs', chef_profiles_path, class: 'btn btn-submit-info btn-sm' %>
        <% if policy(@chef_profile).destroy? %>
          <%= link_to 'delete this chef', chef_profile_path, method: :delete, class: 'btn btn-submit-danger btn-sm' %>
        <% end %>
      </div>
    </div>

  <section class="grid-2">
    <% @chef_profile.reviews.each do |f|%>
    <div>
      <div class="testimonial-box">
        <div class="box-top">
          <div class="profile">
              <div class="profile-img">
                  <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
              </div>

              <div class="name-user">
                <strong><%= current_user.first_name %></strong>
              </div>
            </div>
          <div class="reviews">
          <% x = f.rating %>
          <% x.times do %>
            <i class="fas fa-star black"></i>
          <% end %>
          </div>
        </div>
      <div class="client-comment">
        <p> <%= f.comment %></p>
      </div>
    </div>
    <% end %>
  </section>
  </div>
</div>
