<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <%# <%= image_tag "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍🍳</text></svg>" %>
    <%= image_tag(asset_path("ChefsTable-logo-white (1).png"), class: "navbar-logo") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Discover chefs", chef_profiles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <% if current_user.chef_profile%>
          <%= link_to "I’m a chef", chef_profile_path(current_user.chef_profile), class: "nav-link" %>
        <% else %>
          <%= link_to "I’m a chef", new_chef_profile_path, class: "nav-link" %>
        <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "My bookings", bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown align-items-center justify-content-center d-flex">
          <%= icon('fas', 'user', class: "far fa-user", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, remote: true, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
       <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
