<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container padding-200 ">
    <h1>  <strong>Chef's Table</strong>!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= form_tag chef_profiles_path, class:"d-flex", method: :get do %>
      <%= text_field_tag :keyword, nil, placeholder: "Search by cuisine...", class:"form-tag"%>
      <%# <%= submit_tag  class: "btn btn-search" %>
      <button type="submit" class="btn btn-search">
  Search <%= icon('fas', 'search') %>
</button>

    <% end %>
  </div>
</div>
<i class="fas fa-search"></i>

<div class="container mt-5">
  <h2>All kind of cuisines</h2>

  <div class="preview">

    <div class="card-preview">
      <img src="<%= asset_path('sushi.jpg')%>" />
      <p>Japanese</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('pasta.jpg')%>" />
      <p>Italian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('indian.jpg')%>" />
      <p>Indian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('vegan.jpg')%>" />
      <p>Vegan</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('korean.jpg')%>" />
      <p>Korean</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('french.jpg')%>" />
      <p>French</p>
    </div>
  </div>
</div>



<br><br><br>
