<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container padding-200 ">
    <h1>  <strong>Chef's Table</strong>!</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    <%= form_tag chef_profiles_path, class:"d-flex", method: :get do %>
      <%= text_field_tag :keyword, nil, placeholder: "Cuisine", class:"form-tag"%>
      <%= submit_tag "Private Chef", class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <h2>All kind of cuisines</h2>

  <div class="preview">

    <div class="card-preview">
      <img src="<%= asset_path('sushi.jpg')%>" />
      <p>Japanese</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('pasta.jpg')%>" />
      <p>Italian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('indian.jpg')%>" />
      <p>Indian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('sushi.jpg')%>" />
      <p>Japanese</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('pasta.jpg')%>" />
      <p>Italian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('indian.jpg')%>" />
      <p>Indian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('sushi.jpg')%>" />
      <p>Japanese</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('pasta.jpg')%>" />
      <p>Italian</p>
    </div>
    <div class="card-preview">
      <img src="<%= asset_path('indian.jpg')%>" />
      <p>Indian</p>
    </div>

  </div>

</div>



<br><br><br>
